.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:270px;
    height:100vh;
    background:#0f172a;
    color:#fff;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
    z-index:1000;
}

.sidebar-logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:45px;
}

.sidebar-logo i{
    font-size:34px;
    color:#3b82f6;
}

.sidebar-logo h3{
    font-size:22px;
    font-weight:700;
}

.sidebar-menu{
    padding:0;
    margin:0;
}

.sidebar-menu li{
    list-style:none;
    margin-bottom:12px;
}

.sidebar-menu a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px 18px;
    color:#cbd5e1;
    border-radius:12px;
    transition:.3s;
}

.sidebar-menu a:hover{
    background:#2563eb;
    color:#fff;
    transform:translateX(6px);
}

.sidebar-menu a i{
    width:25px;
    text-align:center;
    font-size:18px;
}